body, html {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  color: white;
}

.container {
  background: url('9c79e800-3058-4836-8788-f949718dd887.png') no-repeat center center/cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.55);
  padding: 2rem;
  border-radius: 12px;
  width: 90%;
  max-width: 400px;
}

.logo {
  width: 80px;
  margin-bottom: 10px;
}

h1 {
  font-size: 1.4rem;
  margin: 0.5rem 0;
}

.lokasi {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.info p {
  margin: 0.4rem 0;
  font-size: 0.95rem;
}

.btn {
  display: inline-block;
  margin-top: 1.5rem;
  padding: 0.8rem 2rem;
  background-color: white;
  color: black;
  font-weight: bold;
  border-radius: 25px;
  text-decoration: none;
  transition: 0.3s;
}

.btn:hover {
  background-color: #ddd;
}
